<include file="Public:header" />
<!--面包屑导航-->
<ol class="breadcrumb">
    <li><a href="{:U('Index/Welcome')}">Home</a></li>
    <li>前端资料</li>
    <li class="active">颜色</li>
    <span class="btn btn-primary rightbut"  data-toggle="modal" data-target="#myModal—add">新增颜色</span>
</ol>
<!--列表-->
<ul class="color">
	<foreach name="color" item="v">
	<li style="background-color:{$v.color}">
		<span>{$v.color}</span>
		<span>{$v.en_name}</span>
		<span>{$v.zh_name}</span>
	</li>
	</foreach>
</ul>

<!--新增颜色-->
<div class="modal fade" id="myModal—add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">新增颜色</h4>
            </div>
            <form class="form-horizontal" role="form" action="{:U('add_color')}" method="post">
            <div class="modal-body">
				<div class="form-group">
					<label for="zh_name" class="col-sm-2 control-label">中文</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="zh_name" id="zh_name" placeholder="请输入中文" autocomplete="off">
					</div>
				</div>
				<div class="form-group">
					<label for="en_name" class="col-sm-2 control-label">英文</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="en_name" id="en_name" placeholder="请输入英文" autocomplete="off">
					</div>
				</div>
				<div class="form-group">
					<label for="color" class="col-sm-2 control-label">RGB</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="color" id="color" autocomplete="off">
					</div>
				</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-primary">提交更改</button>
            </div>
            </form>
        </div>
    </div>
</div>
<include file="Public:footer" />