@charset 'utf8';
body{font-family:'Microsoft Yahei';font-size:14px;overflow-x:hidden;}
ul,ol,li{list-style:none;margin:0;padding:0;}
a,a:hover, a:focus{text-decoration:none;color:#666;}
.col-xs-12,.col-sm-3{padding:0;}
/*head*/
.title{border-bottom:1px solid #ddd;height:55px;padding:0 1em;}
.title a{display:inline-block;line-height:55px;font-size:18px;}

@media screen and (min-width: 768px){
	
}
@media screen and (max-width: 768px){
	.workspace{display:none;-webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;transition: all .25s ease-out;}
}
.window-body{}
/*sidebar*/
.sidebar{border-right:1px solid #ddd;}
.accordion{margin-left:15px;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{border-top:1px solid #fff;}
.nav-tabs>li>a{margin:0;border-radius:0;}

/*workspace*/
.workspace{}