*, *::after, *::before {box-sizing: border-box;}
html{font-size:14px;}
body{font-family:"Open Sans",sans-serif;background-color: #22283f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;}
body::before {content: 'mobile';display: none;}
@media only screen and (min-width: 1050px) {
  body::before{content: 'desktop';}
}
a,a:visited,a:hover,a:active{color:#fff;text-decoration:none;}
a:focus{border:none;outline:none;}
ul,ol,li{list-style:none;margin:0;padding:0;}
label,th{font-weight:normal;cursor:pointer;margin:0;}
blockquote{border-color:#009688;}
/*bootstrap修改*/
.navbar-inverse{background-color:#4d8fac;}
.navbar-inverse .navbar-nav>li>a{color:#fff;}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{background-color:#317589;}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus{background-color:#317589;}
.navbar-inverse .navbar-brand{color:#fff;}
.navbar-brand{padding:8px 25px;}
.container{margin-top:80px;}
.container-fluid{padding:0 100px;}
/*表单*/
.form-control{border-radius:2px;box-shadow:none;border:1px solid #e6e6e6;}
.form-control:focus{border-color:#C9C9C9!important;box-shadow:none}

/* -------------------------------- 

Main Components 

-------------------------------- */
@media only screen and (min-width: 1050px) {
  body[data-hijacking="on"] {overflow: hidden;}
}
.cd-section{height: 100vh;}
.cd-section h2 {height:100vh;}
.cd-section h2 span{margin:50px auto;display:block;font-size:6em;color:#fff;text-align:center;}
.cd-section:first-of-type > div {background-color: #2b334f;}
.cd-section:first-of-type > div::before {content: 'Effects not visible on mobile!';position:absolute;width:100%;text-align:center;top:20px;z-index:2;font-weight:bold;font-size:1.3rem;text-transform:uppercase;color:#6a7083;}
.cd-section:nth-of-type(2) > div {background-color: #2e5367;}
.cd-section:nth-of-type(3) > div {background-color: #267481;}
.cd-section:nth-of-type(4) > div {background-color: #fcb052;}
.cd-section:nth-of-type(5) > div {background-color: #f06a59;}
[data-animation="parallax"] .cd-section > div, [data-animation="fixed"] .cd-section > div, [data-animation="opacity"] .cd-section > div {
  background-position: center center;background-repeat: no-repeat;background-size: cover;}
[data-animation="parallax"] .cd-section:first-of-type > div, [data-animation="fixed"] .cd-section:first-of-type > div, [data-animation="opacity"] .cd-section:first-of-type > div {background-image: url("../Images/img-1.jpg");}
[data-animation="parallax"] .cd-section:nth-of-type(2) > div, [data-animation="fixed"] .cd-section:nth-of-type(2) > div, [data-animation="opacity"] .cd-section:nth-of-type(2) > div {background-image: url("../Images/img-2.jpg");}
[data-animation="parallax"] .cd-section:nth-of-type(3) > div, [data-animation="fixed"] .cd-section:nth-of-type(3) > div, [data-animation="opacity"] .cd-section:nth-of-type(3) > div {background-image: url("../Images/img-3.jpg");}
[data-animation="parallax"] .cd-section:nth-of-type(4) > div, [data-animation="fixed"] .cd-section:nth-of-type(4) > div, [data-animation="opacity"] .cd-section:nth-of-type(4) > div {background-image: url("../Images/img-4.jpg");}
[data-animation="parallax"] .cd-section:nth-of-type(5) > div, [data-animation="fixed"] .cd-section:nth-of-type(5) > div, [data-animation="opacity"] .cd-section:nth-of-type(5) > div {background-image: url("../Images/img-5.jpg");}
@media only screen and (min-width: 1050px) {
  .cd-section h2 {font-weight: 300;}
  [data-hijacking="on"] .cd-section {opacity:0;visibility:hidden;position:absolute;top:0;left:0;width:100%;}
  [data-hijacking="on"] .cd-section > div {visibility: visible;}
  [data-hijacking="off"] .cd-section > div {opacity: 0;}
  [data-animation="rotate"] .cd-section {
    -webkit-perspective: 1800px;
    -moz-perspective: 1800px;
    perspective: 1800px;
  }
  [data-hijacking="on"][data-animation="rotate"] .cd-section:not(:first-of-type) {
    -webkit-perspective-origin: center 0;
    -moz-perspective-origin: center 0;
    perspective-origin: center 0;
  }
  [data-animation="scaleDown"] .cd-section > div, [data-animation="gallery"] .cd-section > div, [data-animation="catch"] .cd-section > div {
    box-shadow: 0 0 0 rgba(25, 30, 46, 0.4);
  }
  [data-animation="opacity"] .cd-section.visible > div {
    z-index: 1;
  }
}

@media only screen and (min-width: 1050px) {
  .cd-section:first-of-type > div::before {display: none;}
}
@media only screen and (min-width: 1050px) {
  .cd-section > div {position: fixed;top: 0;left: 0;width: 100%;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  [data-hijacking="on"] .cd-section > div {
    position: absolute;
  }
  [data-animation="rotate"] .cd-section > div {
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
  }
}
/*滚动图标*/
.cd-vertical-nav {position:fixed;z-index:1;right:3%;top:50%;bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);display: none;}
.cd-vertical-nav a {display: block;height: 40px;width: 40px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(../Js/cd-icon-arrow.svg) no-repeat center center;}
.cd-vertical-nav a.cd-prev {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-bottom: 10px;
}
.cd-vertical-nav a.inactive {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
@media only screen and (min-width: 1050px) {
  .cd-vertical-nav {display: block;}
}
.foreign{background:#C91F37;}
.foreign:hover{background:#6C7A89;}
.wisteria{background:#875F9A;}
.wisteria:hover{background:#044F67;}
.picton{background:#59ABE3;}
.picton:hover{background:#F9690E;}
.siskin{background:#7A942E;}
.amber{background:#CA6924;}
.lynch{background:#6C7A89;}
.medium{background:#C93756;}

/*手册*/

.link-nav{overflow:hidden;padding:20px 100px;width:100%;}
.link-nav li{float:left;display:inline-block;width:25%;height:150px;line-height:150px;}
.link-nav li a{display:inline-block;width:100%;font-family:"Consolas";font-size:38px;}
.manual li a{font-size:30px;}
.address{width:800px;margin:0 auto;background:#fff;padding:20px;}
.address ul{width:700px;margin:20px auto;text-align:left;}
.address ul li{padding:15px 0;display:inline-block;width:45%;}
.address ul li h4{display:inline-block;width:70px;}


#hexGrid {overflow: hidden;width: 90%;margin: 0 auto;padding:0.866% 0;font-family: 'Raleway', sans-serif;font-size: 15px;}
#hexGrid:after {content: "";display: block;clear: both;}
.hex{
    position: relative;
    list-style-type: none;
    float: left;
    overflow: hidden;
    visibility: hidden;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
    -webkit-transform: rotate(-60deg) skewY(30deg) translatez(-1px);
        -ms-transform: rotate(-60deg) skewY(30deg) translatez(-1px);
            transform: rotate(-60deg) skewY(30deg) translatez(-1px);
}
.hex * {
    position: absolute;
    visibility: visible;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */}
.hexIn {display:block;width: 100%;height: 100%;text-align: center;color: #fff;overflow: hidden;background: #fff;
    -webkit-transform: skewY(-30deg) rotate(60deg);
        -ms-transform: skewY(-30deg) rotate(60deg);
            transform: skewY(-30deg) rotate(60deg);}
/*** HEX CONTENT **********************************************************************/
.hex img {left: -100%;right: -100%;width: auto;height: 100%;margin: 0 auto;}
.hex h1, .hex p {width: 102%;left:-1%;padding: 5%;box-sizing:border-box;background-color: rgba(0, 128, 128, 0.8);font-weight: 300;
    -webkit-transition:  -webkit-transform .2s ease-out, opacity .3s ease-out;
            transition:          transform .2s ease-out, opacity .3s ease-out;}
.hex h1{bottom: 50%;padding-top:50%;font-size: 1.5em;z-index: 1;
    -webkit-transform:translateY(-100%) translatez(-1px);
        -ms-transform:translateY(-100%) translatez(-1px);
            transform:translateY(-100%) translatez(-1px);}
.hex h1:after {content: '';position: absolute;bottom: 0;left: 45%;width: 10%;text-align: center;border-bottom: 1px solid #fff;}
.hex p {top: 50%;padding-bottom:50%;
    -webkit-transform:translateY(100%) translatez(-1px);
        -ms-transform:translateY(100%) translatez(-1px);
            transform:translateY(100%) translatez(-1px);}
/*** HOVER EFFECT  **********************************************************************/
.hexIn:hover h1, .hexIn:focus h1,.hexIn:hover p, .hexIn:focus p{
    -webkit-transform:translateY(0%) translatez(-1px);
        -ms-transform:translateY(0%) translatez(-1px);
            transform:translateY(0%) translatez(-1px);}
/*** SPACING AND SIZING *****************************************************************/
@media (min-width:1201px) { /* <- 5-4  hexagons per row */
    .hex {
        width: 19.2%; /* = (100-4) / 5 */
        padding-bottom: 22.170%; /* =  width / sin(60deg) */}
    .hex:nth-child(9n+6),
    .hex:nth-child(9n+7),
    .hex:nth-child(9n+8),
    .hex:nth-child(9n+9) {
        margin-top: -4.676%;
        margin-bottom: -4.676%;
        -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
            -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
                transform: translateX(50%) rotate(-60deg) skewY(30deg);
    }
    .hex:nth-child(9n+6):last-child,
    .hex:nth-child(9n+7):last-child,
    .hex:nth-child(9n+8):last-child,
    .hex:nth-child(9n+9):last-child {
        margin-bottom: 0;
    }
    .hex:nth-child(9n+6) {
        margin-left: 0.5%;
        clear: left;
    }
    .hex:nth-child(9n+10) {
        clear: left;
    }
    .hex:nth-child(9n+2),
    .hex:nth-child(9n+ 7) {
        margin-left: 1%;
        margin-right: 1%;
    }
    .hex:nth-child(9n+3),
    .hex:nth-child(9n+4),
    .hex:nth-child(9n+8) {
        margin-right: 1%;
    }
}
@media (max-width: 1200px) and (min-width:901px) {/* <- 4-3  hexagons per row */
    .hex {
        width: 24.25%; /* = (100-3) / 4 */
        padding-bottom: 28.001%; /* =  width / sin(60deg) */
    }
    .hex:nth-child(7n+5),
    .hex:nth-child(7n+6),
    .hex:nth-child(7n+7) {
        margin-top: -6.134%;
        margin-bottom: -6.134%;
        -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
            -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
                transform: translateX(50%) rotate(-60deg) skewY(30deg);
    }
    .hex:nth-child(7n+5):last-child,
    .hex:nth-child(7n+6):last-child,
    .hex:nth-child(7n+7):last-child {
        margin-bottom: 0;
    }
    .hex:nth-child(7n+2),
    .hex:nth-child(7n+6) {
        margin-left: 1%;
        margin-right: 1%;
    }
    .hex:nth-child(7n+3) {
        margin-right: 1%;
    }
    .hex:nth-child(7n+8) {
        clear: left;
    }
    .hex:nth-child(7n+5) {
        clear: left;
        margin-left: 0.5%;
    }
}
@media (max-width: 900px) and (min-width:601px) { /* <- 3-2  hexagons per row */
    .hex {
        width: 32.666%; /* = (100-2) / 3 */
        padding-bottom: 37.720%; /* =  width / sin(60) */
    }
    .hex:nth-child(5n+4),
    .hex:nth-child(5n+5) {
        margin-top: -8.564%;
        margin-bottom: -8.564%;
        -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
            -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
                transform: translateX(50%) rotate(-60deg) skewY(30deg);
    }
    .hex:nth-child(5n+4):last-child,
    .hex:nth-child(5n+5):last-child {
        margin-bottom: 0;
    }
    .hex:nth-child(5n+4) {
        margin-right: 1%;
        margin-left: 0.5%;
    }
    .hex:nth-child(5n+2) {
        margin-left: 1%;
        margin-right: 1%;
    }
    .hex:nth-child(5n+6) {
        clear: left;
    }
}
@media (max-width: 600px) { /* <- 2-1  hexagons per row */
    .hex {
        width: 49.5%; /* = (100-1) / 2 */
        padding-bottom: 57.158%; /* =  width / sin(60) */
    }
    .hex:nth-child(3n+3) {
        margin-top: -13.423%;
        margin-bottom: -13.423%;
        -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
            -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
                transform: translateX(50%) rotate(-60deg) skewY(30deg);
    }
    .hex:nth-child(3n+3):last-child {
        margin-bottom: 0;
    }
    .hex:nth-child(3n+3) {
        margin-left: 0.5%;
    }
    .hex:nth-child(3n+2) {
        margin-left: 1%;
    }
    .hex:nth-child(3n+4) {
        clear: left;
    }
}
@media (max-width: 400px) {
    #hexGrid {font-size: 13px;}
}

.copy{width:100%;display:block;padding:0 100px;}
.copy p{padding:30px 0;color:#fff;text-align:center;}

/*links*/
.layui-elem-quote{color:#000;}
.links .layui-collapse .links_ul{overflow:hidden;}
.links .layui-collapse .links_ul li{float:left;}
.links .layui-collapse .links_ul li a{color:#000;display:inline-block;margin:5px 20px;}


/*font*/
.font,.color{margin:10px 0;}
.font li{display:inline-block;width:14.28%;text-align:center;border:1px solid #e2e2e2;padding:10px 0;color:#666;margin-right:-1px;margin-bottom:-1px;font-size:13px;}
.font li:hover,.font li:visited,.font li:active,.font li:hover a{background:#f2f2f2;color:#000;}
.font li span{display:block;height:25px;line-height:25px;overflow:hidden;}
.font .font_zh{color:#c2c2c2;padding:5px 0;}
.font .font_en{font-family:"Consolas";}
/*颜色*/
.color{color:#fff;font-size:12px;}
.color li{display:inline-block;width:12.5%;text-align:center;padding:10px 0;}
.color li span{display:block;height:22px;line-height:22px;}
.color li:hover{z-index:999;;cursor:pointer;-webkit-transform:scale(1);
    -moz-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
    -webkit-box-shadow: 5px 5px 5px 5px rgba(0,0,0,.2);
    -moz-box-shadow: 5px 5px 5px 5px rgba(0,0,0,.2);
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,.2);}
