<!doctype html>
<html lang="CN_zh">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Code Help</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<layuicss/>
<homecss/>

</head>
<body>
<div class="container">
	<div>
		<blockquote class="layui-elem-quote">这个貌似不用多介绍，因为你已经在太多的地方都看到</blockquote>
		<ul>
			<li><a href="" target="_blank"></a></li>
		</ul>
	</div>
	
</div>

<jquery/>
<nicescroll/>
<manualjs/>

</body>
</html>