<include file="Public:header" />
<bootstrapselect/>
<layuicss/>
<script type="text/javascript">
$(function(){
     //ajax删除
    $('input[name="del"]').click(function(){
      var text="";
      $("input[name=id]").each(function(){
        if ($(this).prop("checked")) {
          text += ","+$(this).val();
        }
      });
      $.get("{:U('alldel')}",{'id':text},function(data){
        if(data){
          alert('删除成功');
          window.location='__ACTION__';
        }else{
          alert('删除失败');
        }
      });
    });
})
function clicksort(sort,id){
  sort=$('#'+sort).val();
  $.get("{:U('sort_manual')}",{'sort':sort,'id':id},function(data){
      alert(data);
  });
}
</script>
<!--面包屑导航-->
<ol class="breadcrumb">
    <li><a href="{:U('Index/Welcome')}">Home</a></li>
    <li>前端资料</li>
    <li class="active">手册</li>
    <a href="{:U('add_manual',array('pid'=>$pid))}" class="btn btn-primary rightbut">新增</a>
</ol>

<!--search-->
<form class="form-inline" role="form" id="form1" action="{:U('manual')}" method="post">
    <div class="form-group">
        <select name="pid" class="selectpicker show-tick">
            <foreach name="data" item="v">
                <option value="{$v.id}" <if condition="$v['id'] eq $pid">selected</if>>{$v.html}{$v.name}</option>
            </foreach>
        </select>
    </div>
    <div class="form-group">
        
    </div>
    <button type="submit" class="btn btn-default">筛选</button>
</form>

<div class="layui-form">
  	<table class="layui-table" lay-skin="line">
	    <colgroup>
	      <col width="50">
	      <col width="150">
	      <col>
	    </colgroup>
		<thead>
		<tr>
		  <th><input type="checkbox" lay-skin="primary" lay-filter="allChoose"></th>
      <th>排序</th>
			<th>标题</th>
      <th>分类目录</th>
			<th>作者</th>
			<th>日期</th>
			<th>Views</th>
		</tr>
		</thead>
		<tbody>
    <foreach name="list.data" item="v">
    <tr>
      <td><input type="checkbox" value="{$v['id']}" id="{$v.id}" name='id' lay-skin="primary"></td>
      <td style="padding:0 10px;">
        <input class="form-control" style="width:40px;height:30px;display:inline-block;" type="text" name="sort" value="{$v['sort']}" id="sort_{$v['id']}" autocomplete="off">
        <input onclick="clicksort('sort_{$v.id}','{$v.id}')" type="button" value="排序"  class="layui-btn layui-btn-primary layui-btn-small" />
      </td>
      <td><a href="{:U('edit_manual',array('id'=>$v['id']))}">{$v.title}</a></td>
      <td>{$v.name}</td>
      <td>{$v.username}</td>
      <td>{$v.optime|date='Y-m-d',###}</td>
      <td>{$v.views} views</td>
    </tr>
    </foreach>
		</tbody>
	</table>
  <input type="button" name="del" value='删除' class="btn btn-default">
  <div class="page">
  {$list.page}
  </div>
</div>

<layuijs/>
<script>
layui.use('form', function(){
  var form = layui.form();
  //全选
  form.on('checkbox(allChoose)', function(data){
    var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
    child.each(function(index, item){
      item.checked = data.elem.checked;
    });
    form.render('checkbox');
  });
})
</script>

<include file="Public:footer" />