<!doctype html>
<html lang="CN_zh">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Code Help</title>
<meta name="keywords" content="" />
<meta name="description" content="" />

<font/>
<css href="__PUBLIC__/Home/Css/reset.css" />
<homecss/>
</head>
<body data-hijacking="off" data-animation="parallax">
    <section class="cd-section">
        <div>
            <h2><!--手册-->
                <span>Manual</span>
                <ul class="link-nav manual">
                    <foreach name="data" item="v">
                    <li><a href="{:U('/manual/'.$v['id'])}">{$v.name}</a></li>
                    </foreach>
                </ul>
            </h2>
        </div>
    </section>

    <section class="cd-section">
        <div>
            <h2><!--页面-->
                <span>Page</span>
                <ul class="link-nav">
                    <li><a href="{:U('Links/index')}" class="foreign">Link</a></li>
                    <li><a href="{:U('Color/index')}" class="wisteria">Color</a></li>
                    <li><a href="{:U('Font/index')}" class="picton">Font</a></li>
                </ul>
            </h2>
        </div>
    </section>

    <section class="cd-section">
        <div>
            <h2><!--名词-->
                <span>Word</span>
            </h2>
        </div>
    </section>

    <section class="cd-section">
        <div>
            <h2>
                <span>Image</span>
            </h2>
        </div>
    </section>

    <section class="cd-section visible">
        <div>
            <h2><!--联系方式-->
                <span>Contact</span>
                <div class="address">
                    <ul>
                    <li><i class="fa fa-phone"></i>18702629929</li>
                    <li><i class="fa fa-envelope"></i>jian34long@163.com</li>
                    <li><i class="fa fa-weixin"></i>jiuyou95</li>
                    <li><i class="fa fa-qq"></i>1547560934</li>
                    </ul>
                </div>
                <div class="copy">
                    <p>CopyRight © 2016 九幽IT 版权所有 粤ICP备16060013号-1</p>
                </div>

            </h2>
        </div>
    </section>

    <nav>
        <ul class="cd-vertical-nav">
            <li><a href="#0" class="cd-prev inactive">Next</a></li>
            <li><a href="#0" class="cd-next">Prev</a></li>
        </ul>
    </nav>

<jquery/>
<homejs/>
<nicescroll/>
<manualjs/>

</body>
</html>