<!doctype html>
<html lang="CN_zh">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Code Help</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<bootstrapcss/>
<homecss/>

</head>
<body data-hijacking="off" data-animation="parallax">
    <section class="cd-section">
        <div>
            <h2><!--手册-->
                <span>Manual</span>
                <ul class="nav navbar-nav">
                    <foreach name="data" item="v">
                    <li><a href="{:U('/manual/'.$v['id'])}">{$v.name}</a></li>
                    </foreach>
                </ul>
            </h2>
        </div>
    </section>

    <section class="cd-section">
        <div>
            <h2><!--页面-->
                <span>Page</span>
            </h2>
        </div>
    </section>

    <section class="cd-section">
        <div>
            <h2><!--名词-->
                <span>Word</span>
            </h2>
        </div>
    </section>

    <section class="cd-section">
        <div>
            <h2>无积分、无注册、无限制</h2>
        </div>
    </section>

    <section class="cd-section visible">
        <div>
            <h2><!--联系方式-->
                <span>Contact</span>
                <div>
                    <div class="address">

                    </div>
                    <div class="link"></div>
                    <div class="copy"></div>
                </div>
            </h2>
        </div>
    </section>

    <nav>
        <ul class="cd-vertical-nav">
            <li><a href="#0" class="cd-prev inactive">Next</a></li>
            <li><a href="#0" class="cd-next">Prev</a></li>
        </ul>
    </nav>

<jquery/>
<homejs/>
<nicescroll/>
<manualjs/>

</body>
</html>