<include file="Public:header" />

<blockquote class="welcome">
	<span>后台管理系统</span>
	<span>使用框架：ThinkPHP</span>
	<span>使用资源：Bootstrap,Layui,Jquery,Font-Awesome,Bootstrap-Select</span>
	<span>Github地址：<a href="https://github.com/JIUYOU95/Code-Help" target="_blank">下载</a></span>
</blockquote>

<table class="table table-bordered table-hover table-condensed">
    <thead>
      <tr><th colspan="4">服务器信息</th></tr> 
    </thead>
    <tbody>
      <tr>
        <td>操作系统</td>
        <td>{$sysdata['system']}</td>
        <td>服务器时间</td>
        <td>{$sysdata['systemtime']}</td>
      </tr>
      <tr>
        <td>服务器IP地址</td>
        <td>{$sysdata['ip']}</td>
        <td>服务器端口</td>
        <td>{$sysdata['port']}</td>
      </tr>
    </tbody>
    <thead>
      <tr><th colspan="4">开发信息</th></tr> 
    </thead>
    <tbody>
      <tr>
        <td>框架版本号</td>
        <td>{$Think.THINK_VERSION}</td>
        <td>浏览器</td>
        <td>{$sysdata['browser']}</td>
      </tr>
      <tr>
        <td>PHP版本号</td>
        <td>{$sysdata['sysversion']}</td>
        <td>Mysql版本号</td>
        <td>{$sysdata['mysqlinfo']}</td>
      </tr>
    </tbody>
</table>


<include file="Public:footer" />
