<include file="Public:header" />
<WdatePicker/>
<layuicss/>
<style type="text/css">
.layui-form-label{width:110px;}
.site-demo-upload, .site-demo-upload img{width:100px;height:100px;}
.site-demo-upload{margin:10px auto;display:block;}
.layui-upload-button{opacity:0;}
.layui-form-select{width:40%;display:inline-block;}
input[name="name"]{width:55%;display:inline-block;}
.layui-form-select input{border:none;}

.layui-table{margin:0;}
.layui-table tr{cursor:pointer;border-bottom:1px solid #e2e2e2;display:block;}
.layui-table tr:last-child{border-bottom:none;}
.layui-table td, .layui-table th{padding:4px 10px;}
</style>
<script type="text/javascript">
$(document).ready(function(e){
//自动宽高
    var edit=function(){
        var iframe = $("#edit");
        var h = $(window).height() - iframe.offset().top-55;
        if(h < 300) h = 300;
        iframe.height(h);
    }
    edit();
})
</script>
<!--面包屑导航-->
<ol class="breadcrumb">
    <li><a href="{:U('Index/Welcome')}">Home</a></li>
    <li>个人中心</li>
    <li class="active">通讯录</li>
    <span class="btn btn-primary rightbut" onclick="add()">新增信息</span>
</ol>
<table class="table table-bordered" style="width:100%;margin:0;">
	<tr>
		<td style="width:40%;padding:0;border-right:1px solid #e2e2e2;vertical-align:top;">
			<div class="layui-form">
				<div class="search_address">
					<select name="pid"  lay-verify="required">
				        <foreach name="data" item="v">
				          <option value="{$v.id}" <if condition="$edit['pid'] eq $v['id']">selected</if>>{$v.name}</option>
				        </foreach>
				    </select>
				    <input type="text" name="name" autocomplete="off" placeholder="搜索联系人" class="layui-input">
			    </div>
			  	<table class="layui-table" lay-skin="nob">
				  	<colgroup>
				      <col width="50">
				      <col width="60">
				      <col>
				    </colgroup>
				    <tbody style="display:block;overflow:scroll;overflow-x:hidden;height:610px;">
				    <foreach name="list" item="v">
					    <tr navId="{$v['id']}" onclick="read(this)">
					        <td><input type="checkbox" name="id" lay-skin="primary"></td>
					        <td class="avatar">
					        	<if condition="$v['avatar'] eq ''">
					        		<img src="__PUBLIC__/Admin/Images/thinkphp.gif">
					        	<else/>
					        		<img src="__PUBLIC__/Uploads/avatar/{$v['avatar']}">
					        	</if>
					        </td>
					        <td class="phone">
					        	<span>{$v.name}</span>
					        	<small>{$v.phone}</small>
					        </td>
					    </tr>
				    </foreach>
				    </tbody>
				</table>
			</div>
		</td>
		<td style="vertical-align:top;padding:0;">
			<iframe src="{:U('User/read_address')}" id="edit" name="edit" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
		</td>
	</tr>
	<tr>
		<td colspan="2">
		<div class="layui-form">
			<input type="checkbox" name="id[]" lay-skin="primary" lay-filter="allChoose" title="全选">
		</div>
		</td>
	</tr>
</table>

<layuijs/>
<script>
layui.use(['form','upload'], function(){
  var form = layui.form();

  //全选
  form.on('checkbox(allChoose)', function(data){
    var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
    child.each(function(index, item){
      item.checked = data.elem.checked;
    });
    form.render('checkbox');
  });

})

function read(obj){
	var $id=$(obj).attr('navId');
	window.self.edit.location="{:U('Admin/User/read_address/id/"+$id+"')}";
}
</script>

<include file="Public:footer" />
