<include file="Public:header" />
<layuicss/>
<style type="text/css">
.layui-form-label{width:110px;}
.site-demo-upload, .site-demo-upload img{width:100px;height:100px;}
.site-demo-upload{margin:10px auto;display:block;}
.layui-upload-button{opacity:0;}
.layui-form-select{width:40%;display:inline-block;}
input[name="name"]{width:55%;display:inline-block;padding-left:24px;}
.layui-form-select input{border:none;}

.layui-table{margin:0;}
.layui-table tr{cursor:pointer;border-bottom:1px solid #e2e2e2;display:block;}
.layui-table tr:last-child{border-bottom:none;}
.layui-table td, .layui-table th{padding:4px 10px;}
</style>
<script type="text/javascript">
$(document).ready(function(e){
//自动宽高
    var edit=function(){
        var iframe = $("#edit");
        var h = $(window).height() - iframe.offset().top-55;
        if(h < 300) h = 300;
        iframe.height(h);
    }
    edit();
    var list=function(){
        var iframe = $(".list_add");
        var h = $(window).height() - iframe.offset().top-46;
        if(h < 300) h = 300;
        iframe.height(h);
    }
    list();
})

function del(){
	//ajax删除
    var text="";
    $("input[name=id]").each(function(){
        if ($(this).prop("checked")) {
          text += ","+$(this).val();
        }
    });
    $.get("{:U('del_address')}",{'id':text},function(data){
        if(data){
          alert('删除成功');
          window.location='__ACTION__';
        }else{
          alert('删除失败');
        }
    });
}
</script>
<!--面包屑导航-->
<ol class="breadcrumb">
    <li><a href="{:U('Index/Welcome')}">Home</a></li>
    <li>个人中心</li>
    <li class="active">通讯录</li>
</ol>
<table class="table table-bordered" style="width:100%;margin:0;">
	<tr>
		<td style="width:40%;padding:0;border-right:1px solid #e2e2e2;vertical-align:top;">
			<div class="layui-form">
				<div class="search_address">
					<select name="pid" lay-filter="pid">
						<option value=" ">全部联系人</option>
				        <foreach name="data" item="v">
				          <option value="{$v.id}" <if condition="$pid eq $v['id']">selected</if>>{$v.name}</option>
				        </foreach>
				    </select>
				    <i class="fa fa-search"></i>
				    <input type="text" name="name" autocomplete="off" placeholder="搜索联系人" class="layui-input">
			    </div>
			  	<table class="layui-table" lay-skin="nob">
				  	<colgroup>
				      <col width="50">
				      <col width="60">
				      <col>
				    </colgroup>
				    <tbody style="display:block;overflow-y:scroll;overflow-x:hidden;" class="list_add">
				    <foreach name="list" item="v">
					    <tr navId="{$v['id']}" onclick="read(this)">
					        <td><input type="checkbox" name="id" value="{$v['id']}" id="{$v.id}" lay-skin="primary"></td>
					        <td class="avatar">
					        	<if condition="$v['avatar'] eq ''">
					        		<img src="__PUBLIC__/Admin/Images/thinkphp.gif">
					        	<else/>
					        		<img src="__PUBLIC__/Uploads/avatar/{$v['avatar']}">
					        	</if>
					        </td>
					        <td class="phone">
					        	<span>{$v.name}</span>
					        	<small>{$v.phone}</small>
					        </td>
					    </tr>
				    </foreach>
				    </tbody>
				</table>
			</div>
		</td>
		<td style="vertical-align:top;padding:0;">
			<iframe src="{:U('User/read_address')}" id="edit" name="edit" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
		</td>
	</tr>
	<tr>
		<td colspan="2">
		<div class="layui-form">
			<input type="checkbox" lay-skin="primary" lay-filter="allChoose" title="全选">
			<div class="tool_address">
				<label onclick="add()"><i class="fa fa-file-text-o"></i> 新建</label>
				<label onclick="del()"><i class="fa fa-trash-o"></i> 删除</label>
				<label onclick="history.go(0)"><i class="fa fa-refresh"></i> 刷新</label>
			</div>
		</div>
		</td>
	</tr>
</table>

<layuijs/>
<script>
layui.use(['form','upload'], function(){
	var form = layui.form();
  	//全选
	form.on('checkbox(allChoose)', function(data){
		var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
		child.each(function(index, item){
			item.checked = data.elem.checked;
		});
		form.render('checkbox');
	});
	//下拉选择
	form.on('select(pid)', function(data){
		$.get("{:U('Admin/User/ajax_address')}", {pid:data.value},
		function(data){
			var count=data.length;
			var item="";
			if($.isArray(data)){
				for(i=0;i<count;i++){
					item+="<tr navId="+data[i].id+" onclick=\"read(this)\">";
				    item+="<td><input type=\"checkbox\" name=\"id\" lay-skin=\"primary\"></td>";
				    item+="<td class=\"avatar\">";
				    item+="<img src=\"__PUBLIC__/Admin/Images/thinkphp.gif\">";
				    item+="</td>";
				    item+="<td class=\"phone\">";
				    item+="<span>"+data[i].name+"</span>";
				    item+="<small>"+data[i].phone+"</small>";
				    item+="</td>";
				    item+="</tr>";
				}
				$('.list_add').html(item); 
			}		
			//console.log(data);
		});
	});

})

//读取
function read(obj){
	var $id=$(obj).attr('navId');
	window.self.edit.location="{:U('Admin/User/read_address/id/"+$id+"')}";
}
//
function add(){
	window.self.edit.location="{:U('Admin/User/add_address')}";
}
</script>

<include file="Public:footer" />
