<include file="Public:header" />
<bootstrapselect/>
<style type="text/css">
.fa-remove{float:right;cursor:pointer;padding-right:15px;display:none;}
.font li:hover .fa-remove{display:inline;}
.font li:hover .fa-3x{padding-left:26px;}
</style>
<script type="text/javascript">
function autoSubmit(){
    document.getElementById("form1").submit();
}
</script>
<!--面包屑导航-->
<ol class="breadcrumb">
    <li><a href="{:U('Index/Welcome')}">Home</a></li>
    <li>前端资料</li>
    <li class="active">图标字体</li>
    <span class="btn btn-primary rightbut"  data-toggle="modal" data-target="#myModal">新增字体图标</span>
</ol>

<!--search-->
<form class="form-inline" role="form" id="form1" action="{:U('font')}" method="post">
    <div class="form-group">
        <select name="pid" class="selectpicker show-tick" onChange="autoSubmit();">
            <foreach name="data" item="v">
                <option value="{$v.id}" <if condition="$v['id'] eq $pid">selected</if>>{$v.html}{$v.name}</option>
            </foreach>
        </select>
    </div>
    <div class="form-group">
        <if condition="$type['link'] neq ''">
            <a href="{$type['link']}" target="_blank" class="btn btn-primary"><i class="fa fa-paper-plane-o"></i> 官网地址</a>
        </if>
    </div>
</form>

<!--列表-->
<ul class="font">
    <foreach name="lists" item="vc">
    <li>
        <i class="fa fa-{$vc.en_name} fa-3x" navId="{$vc.id}" navName="{$vc.en_name}" navMca="{$vc.zh_name}" onclick="edit(this)"></i><i navId="{$vc.id}" navPid="{$vc.pid}" navName="{$vc.en_name}" class="fa fa-remove" onclick="del(this)"></i>
        <span class="font_zh">{$vc.zh_name}</span>
        <span class="font_en">{$vc.en_name}</span>
    </li>
    </foreach>
</ul>

<!--新增字体图标-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">新增字体图标</h4>
            </div>
            <form class="form-horizontal" role="form" action="{:U('add_font')}" method="post">
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">分类</label>
                    <div class="col-sm-10">
                        <select name="pid" class="selectpicker show-tick">
                        <foreach name="data" item="v">
                            <option value="{$v.id}" <if condition="$v['id'] eq $pid">selected</if>>{$v.html}{$v.name}</option>
                        </foreach>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="zh_name" class="col-sm-2 control-label">中文含义</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="zh_name" id="zh_name" placeholder="请输入中文" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label for="en_name" class="col-sm-2 control-label">图标</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="en_name" id="en_name" placeholder="请输入英文" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-primary">提交更改</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!--新增字体图标-->
<div class="modal fade" id="myModal—add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">新增字体图标</h4>
            </div>
            <form class="form-horizontal" role="form" action="{:U('add_font')}" method="post">
            <div class="modal-body">
                <input type="hidden" name="pid">
				<div class="form-group">
					<label for="zh_name" class="col-sm-2 control-label">中文含义</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="zh_name" id="zh_name" placeholder="请输入中文" autocomplete="off">
					</div>
				</div>
				<div class="form-group">
					<label for="en_name" class="col-sm-2 control-label">图标</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="en_name" id="en_name" placeholder="请输入英文" autocomplete="off">
					</div>
				</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-primary">提交更改</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!--修改字体图标-->
<div class="modal fade" id="myModal-edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">修改字体图标</h4>
            </div>
            <form class="form-horizontal" role="form" action="{:U('edit_font')}" method="post">
            <div class="modal-body">
                <input type="hidden" name="id">
                <div class="form-group">
                    <label for="zh_name" class="col-sm-2 control-label">中文含义</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="zh_name" id="zh_name" placeholder="请输入中文" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label for="en_name" class="col-sm-2 control-label">图标</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="en_name" id="en_name" placeholder="请输入英文" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-primary">提交更改</button>
            </div>
            </form>
        </div>
    </div>
</div>

<script>
$(function (){
    $("[data-toggle='popover']").popover();
});
// 添加子菜单
function add_child(obj){
    var navId=$(obj).attr('navId');
    $("input[name='pid']").val(navId);
    $("input[name='zh_name'],input[name='en_name']").val('');
    $('#myModal—add').modal('show');
}
// 修改菜单
function edit(obj){
    var navId=$(obj).attr('navId');
    var navName=$(obj).attr('navName');
    var navMca=$(obj).attr('navMca');
    $("input[name='id']").val(navId);
    $("input[name='en_name']").val(navName);
    $("input[name='zh_name']").val(navMca);
    $('#myModal-edit').modal('show');
}
// 删除
function del(obj){
    var navId=$(obj).attr('navId');
    var navPid=$(obj).attr('navPid');
    var navName=$(obj).attr('navName');
    window.location="{:U('Admin/Front/del_font/id/"+navId+"/pid/"+navPid+"/name/"+navName+"')}";
}
</script>

<include file="Public:footer" />
